body{
    margin:0;
    padding:0;
    text-align:center;
    font-size: 32px;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
main{
    border-bottom:1px solid #ccc;
    font-size: 32px;
}

li {
    display: inline-block;
    }

footer{
    background-color: #fff;
    /* border-bottom:1px solid #ccc; */
    text-align: center;
}

button{
    cursor: pointer;
    display:inline-block;
    border: white;
    background-color: white;

    /* https://janken.asotetu.work/js_jaken/ */
}

button:hover {
    transform: scale(1.15, 1.15);
}


/*スタート時は要素自体を透過0にするためのopacity:0;を指定する*/
.box{
    opacity: 0;
  }


/*ふわっ*/  
.fadeUp {
    animation-name:fadeUpAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity: 0;
    }
    @keyframes fadeUpAnime{
        from {
          opacity: 0;
        transform: translateY(100px);
        }
      
        to {
          opacity: 1;
        transform: translateY(0);
        }
      }
      
/* アニメーションスタートの遅延時間を決めるCSS*/
.delay-time01{
    animation-delay: 1.5s;
    }

.delay-time02{
    animation-delay: 3.0s;
    }

.delay-time03{
    animation-delay: 4.5s;
    }

